.bg{
  background-image: url("https://images.unsplash.com/photo-1566396357099-13e335c1c38c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.imgtext{
  bottom: 100px;
  display: block;
}
.title{
  position: absolute;
  left: 35px;
  top: 5;
}

.ico{
  position: absolute;
 top: -50px;
  left: 35px;
}
.heading{
  font-weight: bolder;
  color: white;
  font-size: 2em;
  background-color: rgb(53, 52, 51);
}
@media (max-width: 600px) { /* Adjust the max-width value based on your definition of mobile view */
  .title {
    top: 0; /* Change this value to whatever you need for mobile view */
  }

  .ico {
    top: 0; /* Change this value to whatever you need for mobile view */
  }
}